* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Classe para centralização de blocos */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Anton', sans-serif;
  margin-top: 0;
  text-shadow: 1px 1px 5px rgba(0,0,0,.5);
  font-weight: 100;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.logo {
  width: 140px;
}

.nav {
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  border-bottom: 4px solid #cc2420;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul, 
footer nav ul {
  display: flex;
}

.navbar ul li a,
footer nav ul li a {
  padding: 15px 20px;
  color: #3d6097;
  transition: all 350ms ease-in-out;
}

.navbar ul li a:hover {
  background-color: #3d6097;
  color: #fff;
}

.banner-primary {
  height: 600px;
  background-color: #3d6097;
  display: flex;
  align-items: center;

}

.text-white {
  color: #fff;
}

.text-primary {
  color: #3d6097;
}

.text-secondary {
  color: #cc2420;
}

.bg-primary {
  background-color: #3d6097;
}

.row {
  display: flex;
  align-items: center;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.padding-1 {
  padding: 30px;
}

h1 {
  font-size: 3.5rem;
}

h5 {
  font-size: 1.2rem;
}

.text-center {
  text-align: center;
}

.btn {
  border: 0;
  font-family: 'Anton', sans-serif;
  color: #fff;
  padding: 15px 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  text-decoration: none;
}

.btn-secondary {
  background-color: #cc2420;
}

.banner-logos {
  min-height: 120px;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-thumbnail img {
  filter: grayscale(100);
  transition: all 300ms ease-in-out;
}

.logo-thumbnail img:hover {
  filter: grayscale(0)
}

.logo-thumbnail {
  width: 100px;
}

.row-space-between {
  justify-content: space-between;
}

.section-services {
  padding-top: 50px;
  padding-bottom: 50px
}

h2 {
  font-size: 2.5rem;
}

.service-thumbnail {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

.service-thumbnail img {
  transition: transform 250ms ease-in-out;
}

.service-thumbnail img:hover {
  transform: scale(1.2);
}

.mt-1 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 65px;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-right {
  text-align: right;
}

.btn-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 45px;
  height: 45px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5);
  border: 1px solid #cc2420;
  border-radius: 5px;
  background-color: #cc2420;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1000;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
}

.footer-bottom h6 {
  color: #fff;
  font-size: 15px;;
  text-shadow: none;
}

footer nav ul {
  justify-content: center;
}

footer nav ul li a {
  color: #fff;
}

.section-testimony {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 350px;
}

.section-testimony > .section-testimony-container {
  text-align: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.section-testimony p {
  font-size: 1.7rem;
  font-style: italic;
}

.section-testimony-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #3d6097;
  overflow: hidden;
}